#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    z-index: 10000;
    background: black;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .5);
}

#navbar .logo {
    color: #fff;
    font-weight: 1000;
    font-size: 2.5em;   
    text-decoration: none;
    margin-right: 25px;
}

.grayback ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.grayback ul li {
    list-style: none;
    font-weight: 1000;
}
.grayback ul li a {
    text-decoration: none;
    padding: 15px 25px;
    color: #fff;
    border-radius: 20px;
}
.grayback ul li a:hover,
.grayback ul li a.active {
    background: rgb(30, 30, 30);
}

.topline ul {
    list-style-type: none;
}
.topline ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}
.topline ul li a {
    color: aliceblue;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 30px;
}
.topline ul li a:hover,
.topline ul li a.active {
    color: slategray;
    border-top: 5px slategray solid;
    padding-top: 20px;
}
