body,html {
    margin: 0;
    height: 100%;
    font: 400 15px/1.8 "Lato", sans-serif;
}

div {
    display: block;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}
.caption span.border {
    background-color: #111;
    box-shadow: 10px 5px 4px 0 rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 5em;
    font-weight: 700;
    padding: 18px 100px;
    letter-spacing: 10px;
}
.caption span2.border {
    position: absolute;
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.bgimage-1 {
    background-image: url(images/Yut2.jpg);
    min-height: 100%;
}
.bgimage-2 {
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(images/Yut1.jpg);
    height: 90%;
}
.bgimage-3 {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(images/Yut3.jpg);
    min-height: 90%;
}

.bgimage-1 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimage-2, .bgimage-3{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whitebox {
    background-color: white;
    padding: 50px 80px;
}

.transbox {
    padding: 50px 80px;
}

.content h3{
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 50px;
}
.content p {
    margin-bottom: 50px;
    font-weight: 700;
}

.content img {
    margin-right: 50px;
}

.objectbox {
    position: absolute;
    background-color: #111;
    left: 0;
    top: 40%;
    padding: 20px 0 40px 0;
    width: 100%;
    text-align: center;
    color: white;
    word-spacing: 3px;
}

.objectbox h2 {
    font-size: 40px;
    font-weight: 900;
}
.objectbox p {
    font-size:20px;
    font-style: italic;
}

.content figure{
    align-items: center;
}
.content b{
    color: black;
}

.rule p{
    margin-bottom:0;
}
