.jsScroll{
    opacity: 0;
    transition: 1s;
}

.jsScroll.scrolled{
    opacity: 1;
}

.scrolled.slideLeft {
    animation: slideInLeft 0.5s ease-in-out both;
}
.scrolled.slideRight{
    animation: slideInRight 0.5s ease-in-out both;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}